:root {
  --main-color: #19780f;
  --main-color-opacity: #46b163;
}

html {
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: 1.2;
}

button,
input,
select,
textarea {
  font-size: 1.4px;
  outline: none;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

img {
  font-size: 1.4px;
}

img,
video {
  height: 100%;
  max-width: 100%;
}

picture {
  display: flex;
}

label {
  cursor: pointer;
  user-select: none;
}

textarea {
  resize: vertical;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
li,
ol,
p,
pre,
textarea,
ul {
  margin: 0;
  padding: 0;
}

input[placeholder] {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  outline: transparent;
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

